<h1>User Accounts</h1>

<table >
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>User name</th>
    <th>User type</th>
    
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
	<% if book.category ==1 || book.category==2%>
  <tr>
    <td><%= book.firstName %></td>
    <td><%= book.lastName %></td>
    <td><%= book.email %></td>
    <td><%= book.userName %></td>
    
    <% if book.category ==1 %>
    	<td>Admin</td>
    <% end %>
    <% if book.category ==2%>
    	<td>User </td>
    	<% end %>
    
    <td><%= link_to 'Edit', edit_user_path(book) %></td>
    <td><%= link_to 'Remove account', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end%>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
<%= link_to 'View Sign outs', books_path%>
<%= link_to 'Search', searches_path%>
