<div id="wrapper">
		<div id="header">
			<div id="logo">
				<img src="/assets/logo.png" />
			</div>
			<div id="headerContent">
				<div id="headerContentTop">
					<a href="#">User</a> | <a href="#">Admin</a>
				</div>
				<div id="headerContentBottom">
					<h1>My Dashboard</h1>
					<h3>Browse Books</h3>
				</div>
			</div>
</div>
		<div id="mainContent">
			<div id="mainContent-left">
				<h3>Available Books:</h3>
				<div id="dashboard">
					<table>
				  		<tr>
						    <th>Book Title</th>
						    <th></th>
						    <th></th>
				 		 </tr>
				
						<% @books.each do |book| %>
							<% if book.category == 3  %>
						 		 <tr>
						    		 <td><%= book.Bookname %></td>
						    		 <td><%= link_to 'Edit book details', edit_search_path(book) %></td>
						   			 <td><%= link_to 'Remove book', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
						  		</tr>
					   		<% end%>
						<% end %>
				</table>
				</div>
			</div>
			<div id="mainContent-right">
				<h2>What would you like to do?</h2>
				<ul>
					<li><%= link_to 'Books', books_path %></li>
					<li><%= link_to 'User Accounts',users_path%></li>
					<li><%= link_to 'Search', searches_path %></li>
				</ul>
			</div>
			
		</div>
		<div id="footer">
			<p>&#0169; Cloud Library 2013</p>
		</div>
	</div>

				

