<h1>Available books</h1>

<table>
  <tr>
    
    <th>Book Title</th>
    
    <th></th>
    <th></th>
  </tr>

<% @books.each do |book| %>
<% if book.category == 3  %>
  <tr>
    
    <td><%= book.Bookname %></td>
    
    
    <td><%= link_to 'Edit book details', edit_search_path(book) %></td>
    <td><%= link_to 'Remove book', book, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
  <% end%>
<% end %>
</table>

<br />

<%= link_to 'Books', books_path %>
<%= link_to 'User Accounts',users_path%>
<%= link_to 'Search', searches_path %>
