<p id="notice"><%= notice %></p>

<p>
  <b>Book Name:</b>
  <%= @book.Bookname%>
</p>

<p>
  <b>Category:</b>
  <%= @book.category %>
</p>


<%= link_to 'Edit', edit_search_path(@book) %> |
<%= link_to 'Back', searches_path %>
